/*

0 - 600px:        Phone
600 - 900px:      Tablet Portait
900 - 12000px:    Tablet Landscape
1200 - 1800px:    Normal styles apply here
1800px +:         Big desktop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1rem;
  grid-template-columns: [full-start] 1fr [center-start] minmax(5rem, 60vw) [center-end] 1fr [full-end];
}
@media only screen and (max-width: 75em) {
  .container {
    grid-template-columns: [full-start] 1fr [center-start] minmax(5rem, 70vw) [center-end] 1fr [full-end];
  }
}
@media only screen and (max-width: 56.25em) {
  .container {
    grid-template-columns: [full-start] 1fr [center-start] minmax(5rem, 78vw) [center-end] 1fr [full-end];
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] minmax(5rem, 90vw) [center-end] minmax(1rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 25em) {
  .container {
    grid-template-columns: [full-start] minmax(0rem, 1fr) [center-start] minmax(5rem, 92vw) [center-end] minmax(0rem, 1fr) [full-end];
  }
}
@media only screen and (min-width: 112.5em) {
  .container {
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] minmax(5rem, 52vw) [center-end] minmax(2rem, 1fr) [full-end];
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.5;
}

.nav__link {
  font-size: 1.12rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.comic__title {
  font-size: 2.4rem;
  font-weight: 700;
}
@media only screen and (max-width: 37.5em) {
  .comic__title {
    font-size: 2.2rem;
  }
}
.comic__date {
  font-size: 1.8rem;
  font-weight: 400;
}
@media only screen and (max-width: 37.5em) {
  .comic__date {
    font-size: 1.5rem;
  }
}

.social__link {
  font-size: 1.6rem;
  color: #00b9b9;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  transition: font-weight 0.1s linear;
}
.social__link:hover {
  color: #00ecec;
  font-weight: 600;
}

.copyright__text {
  font-size: 1.6rem;
  font-weight: 400;
}

.archive__title {
  font-size: 2.2rem;
  text-align: center;
  display: block;
}

.comic {
  grid-row: 3;
  grid-column: center-start/center-end;
}
.comic__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.comic__under {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, 1fr) minmax(1rem, 1fr);
  align-items: center;
  padding-top: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .comic__under {
    grid-template-columns: repeat(2, 1fr);
  }
}
.comic__info {
  margin-bottom: 10rem;
  margin-left: 22%;
}
@media only screen and (max-width: 56.25em) {
  .comic__info {
    margin-left: 20%;
  }
}
.comic__date {
  white-space: nowrap;
}
.comic-secret {
  height: 16rem;
  width: 14.4rem;
  justify-self: center;
  backface-visibility: hidden;
}
@media only screen and (max-width: 56.25em) {
  .comic-secret {
    grid-column: 2;
  }
}
.comic-secret__img {
  height: 100%;
  width: 100%;
  background-image: url("../images/icons/prepped/durin.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position 0s linear 0.02s, transform 0.12s;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .comic-secret__img {
    height: 80%;
    width: 80%;
  }
}
@media only screen and (max-width: 25em) {
  .comic-secret__img {
    height: 66%;
    width: 66%;
  }
}
.comic-secret__img:active, .comic-secret__img:focus, .comic-secret__img:hover {
  background-position: 98.8%;
  transform: translateY(0);
  animation-name: opac;
  animation-duration: 0.14s;
  animation-timing-function: ease-out;
}

.pager {
  grid-row: 3;
  grid-column: center-start/center-end;
  list-style: none;
  margin: 1.2rem 0;
  text-align: center;
}
.pager li {
  display: inline-block;
}
.pager li > a {
  background-color: #e9e9e9;
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  margin: 0 0.6rem;
  transition: all 0.09s ease-out;
  border-radius: 1.2rem;
}
.pager li > a:hover {
  background-color: #e4e4e4;
  transform: scale(1.02) translateY(-2px);
  box-shadow: 0px 2px 2px #c7c7c7;
}
.pager li .active_link {
  background-color: #c8c8c8;
}
.pager li .active_link:hover {
  background-color: #c8c8c8;
  transform: none;
  box-shadow: none;
}

main {
  grid-row: 3;
  grid-column: center-start/center-end;
}

.footer {
  grid-row: 4;
  grid-column: center-start/center-end;
  display: flex;
  flex-direction: column;
  justify-items: end;
  align-items: center;
}

.social {
  margin: 3rem 0;
  padding: 1rem 0;
  transition: all 0.1s ease-out 0.02s;
}
.social__list {
  list-style: none;
}
.social__item {
  display: inline-block;
  margin: 0 1.4rem;
}
.social__link {
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(165, 165, 165, 0.3);
  padding: 1rem;
  transition: all 0.1s;
}
.social__link:hover, .social__link:active {
  box-shadow: 1px 3px 10px rgba(165, 165, 165, 0.2);
}

.copyright {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-bottom: 2rem;
}

.header {
  grid-column: center-start/center-end;
  grid-row: 1;
}
.header__logo-box {
  margin-left: 9.1%;
  padding-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .header__logo-box {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo-box {
    margin-left: 6%;
  }
}
@media only screen and (max-width: 25em) {
  .header__logo-box {
    margin-left: 4%;
  }
}
.header__logo {
  height: 21rem;
  width: auto;
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    height: 20rem;
  }
}
@media only screen and (max-width: 25em) {
  .header__logo {
    height: 17rem;
  }
}

.nav {
  grid-row: 2;
  grid-column: center-start/center-end;
  margin-bottom: 2rem;
}
.nav__list {
  display: grid;
  grid-template-columns: repeat(5, [col-start] min-content [col-end]);
  grid-template-rows: repeat(2, min-content);
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
}
.nav__item {
  margin: 0 2.4rem;
  text-align: center;
  cursor: pointer;
  overflow: visible;
}
@media only screen and (max-width: 75em) {
  .nav__item {
    margin: 0 2.6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item {
    margin: 0 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__item {
    margin: 0 2.4rem;
  }
}
@media only screen and (max-width: 25em) {
  .nav__item {
    margin: 0 2.2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item--hand1 {
    grid-row: 1;
    grid-column: 1;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item--hand2 {
    grid-row: 1;
    grid-column: 3;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item--arrow1 {
    grid-row: 2;
    grid-column: 1;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item--arrow2 {
    grid-row: 2;
    grid-column: 3;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item--arrow {
    grid-row: 2;
    grid-column: 2;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item--scroll {
    grid-row: 1;
    grid-column: col-start 2/col-start 3;
  }
}
.nav__item--disabled {
  opacity: 0.46;
  cursor: default;
}
.nav__img {
  display: block;
  width: auto;
  margin-bottom: 1rem;
  transition: all 0.2s ease-out 0.04s;
  backface-visibility: hidden;
}

.hand-icon {
  height: 4.4rem;
}
@media only screen and (max-width: 75em) {
  .hand-icon {
    height: 4.2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .hand-icon {
    height: 4.6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hand-icon {
    height: 4.8rem;
  }
}
@media only screen and (max-width: 25em) {
  .hand-icon {
    height: 4rem;
  }
}

.arrow-icon {
  height: 3rem;
}
@media only screen and (max-width: 75em) {
  .arrow-icon {
    height: 2.8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .arrow-icon {
    height: 2.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .arrow-icon {
    height: 2.8rem;
  }
}
@media only screen and (max-width: 25em) {
  .arrow-icon {
    height: 2.4rem;
  }
}

.archive-icon {
  height: 5.2rem;
}
@media only screen and (max-width: 75em) {
  .archive-icon {
    height: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .archive-icon {
    height: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .archive-icon {
    height: 5.4rem;
  }
}
@media only screen and (max-width: 25em) {
  .archive-icon {
    height: 4.8rem;
  }
}

.archive {
  grid-column: center-start/center-end;
  grid-row: 2;
  text-align: start;
}
.archive__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.archive__item {
  height: 21rem;
  width: 16rem;
  margin: 1.8rem;
  margin-bottom: 6rem;
}
.archive__titles {
  font-size: 1.2rem;
}
.archive__dates {
  display: inline-block;
  border-bottom: solid 1px;
}
.archive__img {
  max-height: 103%;
  max-width: 120%;
  display: block;
  margin: 0 auto;
  margin-top: 0.4rem;
}
@media only screen and (max-width: 37.5em) {
  .archive__img {
    height: 94%;
  }
}
@media only screen and (max-width: 25em) {
  .archive__img {
    height: 90%;
  }
}

/*# sourceMappingURL=style.comp.css.map */
