.footer {
    display: flex;
    flex-direction: column;
}

.social {
    margin: 3rem 0;
    padding: 1rem 0;

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        margin: 0 1.4rem;
    }

    &__link {
        border-radius: 4px;
        position: relative;
        padding: 1rem;
        transition: transform 0.1s ease-out, color 0.1s ease-out;
        border: none;
        background: white;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            outline: solid 1px rgb(241, 241, 241);
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            opacity: 0;
            outline: solid 1px;
            transition: opacity 0.18s ease-in 0.03s;
        }

        &--patreon {
            padding: 1rem 1.5rem;
        }

        &:hover,
        &:active {
            transform: scale(1.03);
            &::after {
                opacity: 1;
            }
            // background-color: $color-aqua-bright;
            // color: white;
        }
    }
}

.copyright {
    display: grid;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
}

// .social {
//     margin: 3rem 0;
//     padding: 1rem 0;

//     &:hover {
//     }

//     &__list {
//         list-style: none;
//     }

//     &__item {
//         display: inline-block;
//         margin: 0 1.8rem;
//     }

//     &__link {
//         padding: 1rem;
//         transition: all 0.1s ease-out 0.02s;
//         border: 1px solid rgb(255, 255, 255);
//         box-shadow: 0px 1px 6px rgba(165, 165, 165, 0.7);
//         border-radius: 4px;
//         &:hover {
//             background-color: $color-aqua-bright;
//             color: white;
//             transform: scale(1.01);
//             box-shadow: 2px 3px 10px rgba(165, 165, 165, 0.6);
//         }
//     }
// }
