.header {
    grid-column: center-start / center-end;
    grid-row: 1;

    &__logo-box {
        margin-left: 9.1%;
        padding-top: 2rem;

        @include respond(tab-port) {
            // width < 900?
            margin-left: 10%; // 1rem = 8px; 8/16 = 50%
        }

        @include respond(phone) {
            // width < 600?
            margin-left: 6%; // 1rem = 7px; 7/16 = 43.75%
        }

        @include respond(phone-sm) {
            // width < 600?
            margin-left: 4%; // 1rem = 7px; 7/16 = 43.75%
        }
    }

    &__link {
    }

    &__logo {
        height: 21rem;
        width: auto;

        @include respond(phone) {
            height: 20rem; // width < 600?
        }

        @include respond(phone-sm) {
            height: 17rem; // width < 600?
        }
    }
}
