.header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;

    &__logo-box {
        margin-right: 21.3%;
        @include respond(tab-port) {
            // width < 900?
            margin-right: 28%; // 1rem = 8px; 8/16 = 50%
        }

        @include respond(phone) {
            // width < 600?
            margin-right: 28%; // 1rem = 7px; 7/16 = 43.75%
        }

        @include respond(phone-sm) {
            // width < 600?
            margin-right: 28%; // 1rem = 7px; 7/16 = 43.75%
        }
    }

    &__logo {
        height: 21rem;
        width: auto;

        @include respond(phone) {
            height: 20rem; // width < 600?
        }

        @include respond(phone-sm) {
            height: 17rem; // width < 400?
        }
    }
}
