.comic {
    width: 52vw;
    height: 100%;

    @include respond(laptop) {
        width: 62vw;
    }
    @include respond(tab-land) {
        width: 72vw;
    }
    @include respond(tab-port) {
        width: 84vw;
    }
    @include respond(phone) {
        width: 86vw;
    }
    @include respond(phone-sm) {
        width: 92vw;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    &__under {
        display: flex;
        padding-top: 2rem;
    }

    &__info {
        margin-left: 10%;
        margin-bottom: 9rem;
        align-self: flex-start;

        @include respond(tab-land) {
        }

        @include respond(tab-port) {
            margin-bottom: 12rem;
        }

        @include respond(phone) {
            margin-top: 6%;
            margin-bottom: 20rem;
            margin-left: 4%;
        }

        @include respond(phone-sm) {
            margin-left: 4%;
            margin-bottom: 24rem;
        }
    }

    &__date {
        white-space: nowrap;
    }
}
