.comic {
    width: 52vw;
    height: auto;

    @include respond(tab-land) {
        width: 72vw;
    }
    @include respond(tab-port) {
        width: 84vw;
    }
    @include respond(phone) {
        width: 86vw;
    }
    @include respond(phone-sm) {
        width: 92vw;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    &__under {
        display: flex;
        padding-top: 2rem;
    }

    &__info {
        margin-left: 10%;
        align-self: flex-start;

        @include respond(tab-land) {
        }

        @include respond(tab-port) {
            // grid-row: 1; // width < 900?
            // grid-column: 2;

            // margin-bottom: 10rem;
        }

        @include respond(tab-land) {
        }
    }

    &__date {
        white-space: nowrap;
    }
}
