.secret {
    display: flex;
    position: relative;
    margin: 0 auto;
    // margin-top: 9rem;
    height: 16rem;
    width: 14.4rem;
    backface-visibility: hidden;

    @include respond(phone) {
        // margin-top: 20rem; // width < 600?
    }

    @include respond(phone-sm) {
        // margin-top: 24rem; // width < 600?
    }

    &__img {
        &-container {
            height: 100%;
            width: 100%;
            overflow: hidden;
            transition: opacity 0.8s ease-out, transform 0.8s ease-out;

            @include respond(phone) {
                height: 90%; // width < 600?
                width: 90%;
            }
        }

        &-durin {
            height: 100%;
            width: 200%;
            object-fit: cover;
        }
    }

    &__panel {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 100;

        &-container {
            opacity: 1;
            transition: 0.2s all ease-out;
            position: absolute;
            top: -96%;
            left: 197%;
            width: 29vw;
            height: 52vh;
            text-align: center;

            @include respond(tab-land) {
                height: 46vh;
                width: 32vw;
                left: 154%; // width < 1200?
            }
            @include respond(tab-port) {
                width: 38vw;
                height: 33vh; // width < 900?
                left: 106%;
                top: -115%;
            }
            @include respond(phone) {
                height: 24vh; // width < 600?
                width: 51vw;
                top: -195%;
                left: 35%;
            }
            @include respond(phone-sm) {
                height: 21vh;
                width: 53vw;
                top: -207%; // width < 400?
                left: 19%;
            }
        }
    }
}

.durin-light {
    transform: translateY(0) translateX(-50.2%);
    animation-name: opac;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}

.durin-dark {
    animation-name: opac2;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
}

.hidden {
    opacity: 0;

    &__observer {
        opacity: 0;
        transform: translateY(2rem);
        transition: all 0s;
    }
}

.section__observer {
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.cursor {
    cursor: pointer;
}
