.secret {
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 9rem;
    height: 16rem;
    width: 14.4rem;
    backface-visibility: hidden;

    @include respond(phone) {
        margin-top: 20rem; // width < 600?
    }

    @include respond(phone-sm) {
        margin-top: 24rem; // width < 600?
    }

    &__img {
        &-container {
            height: 100%;
            width: 100%;
            overflow: hidden;

            @include respond(phone) {
                height: 90%; // width < 600?
                width: 90%;
            }
        }

        &-durin {
            height: 100%;
            width: 200%;
            object-fit: cover;
        }
    }

    &__panel {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 100;

        &-container {
            position: absolute;
            top: -96%;
            left: 168%;
            width: 33vw;
            height: 48vh;
            text-align: center;

            @include respond(tab-land) {
                height: 44vh;
                left: 154%; // width < 1200?
            }
            @include respond(tab-port) {
                width: 36vw;
                height: 31vh; // width < 900?
                left: 111%;
                top: -104%;
            }
            @include respond(phone) {
                height: 34vh; // width < 600?
                top: -160%;
            }
            @include respond(phone-sm) {
                top: -174%; // width < 400?
                width: 40vw;
                left: 92%;
            }
        }
    }
}

.durin-light {
    transform: translateY(0) translateX(-50%);
    animation-name: opac;
    animation-duration: 0.14s;
    animation-timing-function: ease-out;
}

.hidden {
    display: none;
}

.cursor {
    cursor: pointer;
}
