.secret {
    position: relative;
    height: 16rem;
    width: 14.4rem;
    justify-self: center;
    backface-visibility: hidden;

    @include respond(tab-port) {
        // grid-row: 2; // width < 900?
        grid-column: 2;
    }

    &__img {
        &-container {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        &-durin {
            height: 100%;
            width: 200%;
            object-fit: cover;
        }
    }

    &__panel {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 100;

        &-container {
            position: absolute;
            bottom: 128%;
            left: -88%;
            width: 40rem;
            height: 42rem;
            text-align: center;
        }
    }
}

.durin-light {
    transform: translateY(0) translateX(-50%);
    animation-name: opac;
    animation-duration: 0.14s;
    animation-timing-function: ease-out;
}

.hidden {
    display: none;
}

.cursor {
    cursor: pointer;
}
