.archive {
    display: flex;
    flex-direction: column;
    text-align: start;

    &__list {
        display: flex;
        justify-content: space-evenly;
        width: 68vw;
        flex-wrap: wrap;
        list-style: none;

        @include respond(tab-land) {
            width: 79vw;
        }

        @include respond(tab-port) {
            width: 85vw;
        }
        @include respond(phone) {
            width: 92vw;
        }
        @include respond(phone-sm) {
            width: 95vw;
        }
    }

    &__item {
        height: 21rem;
        width: 16rem;

        margin: 1.8rem;
        margin-bottom: 6rem;
    }

    &__titles {
        font-size: 1.2rem;
    }

    &__dates {
        display: inline-block;
        border-bottom: solid 1px;
    }

    &__img {
        max-height: 103%;
        max-width: 120%;

        display: block;
        margin: 0 auto;
        margin-top: 0.4rem;

        @include respond(phone) {
        }

        @include respond(phone-sm) {
        }
    }
}
